body {
    font-family: "Open Sans", sans-serif;
}

h1 {
    font-family: "Gochi Hand", cursive;
    text-shadow: 2px 2px lightgray;
    font-size: 50px;
}

header h3 {
    color: gray;
    font-family: 'Catamaran', sans-serif;
    font-size: 20px;
   
}

h6 {
    color: black;
    font-family: 'Catamaran', sans-serif;
    font-size: 14px;
    font-weight: bold;
}

h4 {
    color: #8ebbcb;
    font-family: 'Catamaran', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

h2 {
    color: black;
    font-family: 'Catamaran', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

p {
    color: black;
    font-family: 'Catamaran', sans-serif;
    font-size: 12px;
    
}

.site-footer {
    background-image: linear-gradient(#CEC8FF, white);
    padding: 20px 0;
}

.jumbotron-top {
    margin: 0px;
    padding: 30px;
    background-color: white;
    background-image: url('../img/confetti-bg.png');
}

.jumbotron {
    margin: 0px;
    padding: 30px;
    background-color: white;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar {
    background-color: #5a9cb3;
}

.title {
    background-color: rgba(255, 255, 255, .8);
    padding: 20px;
    border: 1px solid black;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
}


.header-card {
    border: 0;
    padding: 5px;
}

.btn {
    margin: 5px;
}

.btn-link {
    margin: 1;
}

.btn-accordion {
    border: 0;
}

.card-footer {
    padding-left: 0;
    padding-right: 0;
}

#welcome,
#toolkit {
    background-color: lightgray;
    padding: 25px;
}

h1.congrats {
    text-shadow: 2px 2px gray;
}

#getstarted,
#toolkit-full {
    background-color: white;
    padding: 25px;
}

#feedback {
    background-color:#5a9cb3;
    padding: 25px;
}



.feedback-modal-content {
    background-color: white;
    background-image: url('../img/confetti-bg.png');
    border: 1px solid black;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
}

.feedback-modal-body {
        background-color: rgba(255, 255, 255, .5);  
}


.feedback-modal-header {
    background-color: #5a9cb3;
    padding: 20px;
    
}

.dropdown-menu {
    background-color:white;
}

a.dropdown-item {
    color: black;
    font-family: 'Catamaran', sans-serif;
    font-size: 12px;
}

.tool-kit-card img {
    max-width: 100%;
    max-height: 100%;
  }
  .tool-kit-card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 10;
  }


.accordion a:link {
    color: black;
    text-decoration: none;
}

.accordion a:visited {
    color: black;
    text-decoration: none;
}

.accordion a:hover {
    color: black;
    text-decoration: none;
}

.accordion a:not(:hover) {
    color: black;
    text-decoration: none;
}


.accordion a:active {
    color: black;
    text-decoration: none;
}

blockquote {
    font-size: 12px;
    font-style: oblique;
    border: 1px solid lightgray;
    padding: 10px;
    margin-bottom: 10px;
}

  .carousel-inner {
    padding: 1em;
  }
  .carousel-control-prev,
  .carousel-control-next {
    background-color: #5a9cb3;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
  @media (min-width: 768px) {
    .tool-kit-card img {
      height: 11em;
    }
  }


