body {
    font-family: "Open Sans", sans-serif;
}

h1 {
    font-family: "Gochi Hand", cursive;
    font-size: 50px;
}

header h3 {
    color: gray;
    font-family: 'Catamaran', sans-serif;
    font-size: 20px;
   
}

.site-footer {
    background-image: linear-gradient(#CEC8FF, white);
    padding: 20px 0;
}

.jumbotron {
    margin: 0px;
    padding: 30px;
    background-color: white;
    background-image: url('../img/confetti-bg.png');
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar {
    background-color: #5a9cb3;
}

.title {
    background-color: rgba(255, 255, 255, .8);
    padding: 20px;
    border: 1px solid black;
}